@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Inter&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --yellow: #fbb414;
    --blue: #1e478a;
    --gray: #808080;
}

html, body {
    height: 100%;
}

body {
    background-color: black;
    color: white;
    font-family: 'Inter', sans-serif;
}

/* width & height */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: none;
    border-radius: 99999px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--yellow);
    border-radius: 99999px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #f8a100;
}

