@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Inter&display=swap');

:root {
    --yellow: #fbb414;
    --blue: #1e478a;
    --gray: #808080;
}

html, body {
    height: 100%;
}

body {
    background-color: black;
    color: white;
    font-family: 'Inter', sans-serif;
}
