:root {
    --yellow: #fbb414;
    --blue: #1e478a;
    --gray: #808080;
}

.multiselect-container {
    background-color: white;
}

.search-wrapper {
    border: none !important;
    padding: 4px 10px 4px 10px !important;
}

.searchBox {
    color: black;
}

.searchBox::placeholder {
    color: black;
}

.highlightOption, .highlight, .highlightOption:hover, .highlight:hover, .multiSelectContainer li:hover, .chip {
    background-color: var(--yellow) !important;
    color: black !important;
}
