@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
    --yellow: #fbb414;
    --blue: #1e478a;
}

body {
    background-color: black;
    color: white;
    font-family: 'Inter', sans-serif;
}

.nav-link {
    transition: 0.2s;
}

.nav-link:hover {
    color: var(--yellow);
    transition: 0.2s;
    text-shadow: var(--yellow) 0px 0 7px;
}