{%extends "base.html" %}
{%block content%}

<div class="w-full flex justify-center">
    <div class="w-9/12 max-w-4xl">
        <div>
            <select class="text-black w-1/4 mr-2 px-2 py-1 rounded-lg border-none outline-none"
                onchange="updateSelect('device', 'devices')" name="source" id="source">
                <option value="" disabled selected>Select data source</option>
            </select>
            <select class="text-black w-1/4 mx-2 px-2 py-1 rounded-lg border-none outline-none"
                onchange="updateSelect('parameter', 'params')" name="device" id="device">
                <option value="" disabled selected>Select device</option>
            </select>
            <select class="text-black w-1/4 mx-2 px-2 py-1 rounded-lg border-none outline-none" name="parameter"
                id="parameter">
                <option value="" disabled selected>Select parameter</option>
            </select>
            <button onclick="addSource()"
                class="ml-2 px-10 py-1 text-lg bg-yellow hover-shadow-yellow rounded-full text-black font-bold cursor-pointer">ADD
                <i class="fa-solid fa-circle-plus ml-1 upload-icon"></i></button>
        </div>
        <div id="graph"></div>
    </div>
</div>

<script>
    all_run_data_json = JSON.parse("{{ all_run_data_json }}".replaceAll("&#39;", "\"").replace(/ObjectId\("([^"]+)"\)/g, "\"$1\""))

    function addSource() {
        let sourceValue = document.getElementById("source").value
        let deviceValue = document.getElementById("device").value
        let parameterValue = document.getElementById("parameter").value

        if (sourceValue && deviceValue && parameterValue) {
            fetch('./graph', {
                method: 'POST',
                body: JSON.stringify({
                    "source": sourceValue,
                    "device": deviceValue,
                    "parameter": parameterValue
                }),
                headers: {
                    'Content-Type': 'application/json'
                }
            }).then(response => {
                return response.json();
            }).then(data => {
                graphDiv = document.getElementById('graph')
                Plotly.newPlot(graphDiv, [{
                    x: data["timestamps"],
                    y: data["data"]
                }], {
                    margin: { t: 0 }
                });
            });
        }
    }

    for (var key in all_run_data_json) {
        run = all_run_data_json[key]

        var opt = document.createElement('option');
        opt.value = run["_id"];
        opt.innerHTML = run["name"];

        document.getElementById("source").appendChild(opt);
    }

    function updateSelect(selectID, jsonKey) {
        deviceSelector = document.getElementById(selectID)

        if (deviceSelector.children.length > 0) {
            for (let i = 1; i <= deviceSelector.children.length; i++) {
                if (deviceSelector[i]) deviceSelector.removeChild(deviceSelector[i]);
            }
        }

        for (var key in all_run_data_json) {
            run = all_run_data_json[key]

            if (run["_id"] == document.getElementById("source").value) {
                for (var i in run[jsonKey]) {
                    var opt = document.createElement('option');
                    opt.value = run[jsonKey][i];
                    opt.innerHTML = run[jsonKey][i];

                    deviceSelector.appendChild(opt);
                }
            }
        }
    }
</script>

{% endblock %}