<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style/main.css')}}">
    <script src="{{url_for('static', filename='js/main.js')}}"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>DASH</title>
</head>
<body>
    <nav>
        <div class="flex justify-between">
            <div>
                <img class="h-14" src="{{url_for('static', filename='img/FEBLOGO.png')}}" alt="FEB Logo">
            </div>
            <div>
                <ul class="list-none m-0 p-0">
                    <li class="float-left block text-center py-3.5 px-4"><a href="/analysis">Analysis</a></li>
                    <li class="float-left block text-center py-3.5 px-4"><a href="/storage">Storage</a></li>
                </ul>
            </div>
        </div>
    </nav>
    {% block content %} 
    {% endblock %}
</body>
</html>