{%extends "base.html" %}
{%block content%}
<div class="w-full flex justify-center">
  <div class="w-9/12 max-w-4xl flex justify-between">
    <div class="flex">
      <h1 class="text-4xl font-medium">STORAGE HUB</h1>
      <button class="bg-yellow h-10 px-5 ml-6 text-black font-bold rounded-full hover-shadow-yellow"
        onclick="handleModal('storageUploadModal')">UPLOAD DATA<i
          class="fa-solid fa-arrow-up-from-bracket ml-2 upload-icon"></i></button>
    </div>
    <div class="w-2/5 px-4 pr-0 flex flex-col justify-center">
      <div class="w-full h-3 rounded-full bg-gray-600">
        <div class="h-full rounded-full bg-emerald-600" style="min-width: 4%; width: {{ storage_size_percent }}%;">
        </div>
      </div>
      <h1>Usage: {{ storage_size }} MB / 512.0 MB ({{ storage_size_percent }}%)</h1>
    </div>
  </div>
</div>
<div class="w-full flex justify-center">
  <table class="w-9/12 max-w-4xl border-separate border-spacing-y-6">
    <tr>
      <th class="text-left text-2xl">TITLE <i class="fa-solid fa-thumbtack ml-2 table-heading-icon"></i></th>
      <th class="text-left text-2xl">FILENAME <i class="fa-solid fa-file ml-2 table-heading-icon"></i></th>
      <th class="text-right text-2xl">UPLOAD DATE <i class="fa-solid fa-calendar ml-2 table-heading-icon"></i>
      </th>
    </tr>
    {% for run in all_run_data %}
    <tr>
      <td class="text-xl border-solid border-2 border-white border-r-0 font-medium">
        <p class="m-3">{{ run["name"] }}</p>
      </td>
      <td class="text-xl border-solid border-2 border-white border-l-0 border-r-0">
        <p class="my-3"><i class="fa-solid fa-download mr-1 download-icon"></i>
          <code>{{ run["filename"] }}</code>
        </p>
      </td>
      <td class="text-xl border-solid border-2 border-white border-l-0 text-right italic">
        <p class="m-3">{{ run["date"] }}<i class="fa-solid fa-xmark relative left-12 text-xl delete-icon"></i></p>
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
<div class="relative z-10 hidden modal" id="storageUploadModal" aria-labelledby="modal-title" role="dialog"
  aria-modal="true">
  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>

  <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
    <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0"
      id="storageUploadModalArea">
      <div
        class="relative transform overflow-hidden rounded-2xl bg-black text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
        <div class="bg-black p-8 text-center">
          <h1 class="text-3xl">UPLOAD DATA</h1>
          <form method=post enctype=multipart/form-data action="/storage">
            <input
              class="w-full my-6 px-4 py-2 rounded-full text-black outline-none bg-gray-200 placeholder:text-gray-500"
              type=text name=title placeholder="Title (required)">
            <input
              class="w-full mb-4 cursor-pointer file:rounded-full file:outline-none file:border-none file:px-3 file:py-1 file:cursor-pointer"
              type=file name=file><br />
            <input class="px-10 py-2 bg-yellow hover-shadow-yellow rounded-full text-black font-bold cursor-pointer"
              type=submit value="UPLOAD">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}